{% extends "header.html"%}
{% load staticfiles %}
{% block content %}
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>REVIEWS OF LOCALITY</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">REVIEWS OF LOCALITY</li>
                </ul>
            </div>
        </div>
    </div>
</div>

   <div class="content-area featured-properties">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Overall {{Name.average}} Average rating of this location: {{ average.average }}</h1>
        </div>
        <div class="row">
            <div class="filtr-container">
                <div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>Location<p></p></th>
          <th>Locality <p style="color : green">(avg ≈ {{ average.average }})</p></th>
          <th>Cleanliness <p style="color : green">(avg ≈ {{ cleanliness.cleanliness }})</p></th>
          <th>Security <p style="color : green">(avg ≈ {{ security.security }})</p></th>
          <th>Parks <p style="color : green">(avg ≈ {{ parks.parks }})</p></th>
          <th>play grounds <p style="color : green">(avg ≈ {{ playgrounds.playgrounds }})</p></th>

        </tr>
      </thead>
      <tbody>

        {% for rev in reviews %}
        <tr>
          <td>
            <b>{{rev.location}}</b>
        </td>
          <td>{{ rev.rate_locality }} out of 5

          </td>
          <td>{{ rev.rate_cleanliness }} out of 5</td>
          <td>{{ rev.rate_security }} out of 5</td>
          <td>{{rev.rate_parks}} out of 5</td>
          <td>{{rev.playGrounds}} out of 5</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

            </div>
        </div>
       </div>
    </div>
{% endblock %}
