{% extends "header.html"%}
  {% block content %}
{% load staticfiles %}

<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Review Localities</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Review Localities</li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <div class="content-area submit-property">
    <div class="container">
        <div class="row">
          <div class="row wow">
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="row">
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Mustafa Town</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:mustafaTown' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Johar Town</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:joharTown_rev' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Iqbal Town</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:iqbalTown_rev' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Defence</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:defence_rev' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Awan Town</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:awan_rev' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Wapda Town</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:wapda_Rev' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Eden</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:eden_rev' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-pad wow fadeInLeft delay-04s">
                          <div class="category">
                              <div class="category_bg_box cat-1-bg">
                                  <div class="category-overlay">
                                      <span class="category-content">
                                          <span class="category-title">Lake city</span>
                                          <br>
                                          <span class="category-subtitle">Reviews</span>
                                          <br>
                                          <a href="{%url 'myFYP:lake_rev' %}" class="btn button-sm button-theme">View All</a>
                                      </span><!-- /.category-content -->
                                  </div>
                              </div>
                          </div>
                      </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Banner start -->

                <!-- Contact form start -->
				<div class="content-area submit-property">
    <div class="container">
				</div>
				</div>
                <!-- Contact form end -->
            {% endblock %}
