{% extends "myFYP/header.html"%}
{% load staticfiles %}
 {% block content %}

<!-- Content area start -->
<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Main title -->
                        <div class="main-title">
                            <h1><span>Login</span></h1>
                        </div>
                        <!-- Form start -->
                        <form method="post" action="{% url 'myFYP:user_login' %}">
          {% csrf_token %}

          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
<br>
          <label for="password">Password: </label>
          <input type="password" name="password" placeholder="Enter password">
<br> <br>
          <input type="submit" name="" value="Login">

        </form>
                        <!-- Form end -->
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>
                            Don't have an account yet? <a href="/signup_form/">Sign up now</a>
                        </span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Content area end -->
{% endblock %}
