{% extends "header.html"%}
{% load staticfiles %}
{% block content %}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Our Value Added Services</h1>
                <ul class="breadcrumbs">

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<div class="about-city-estate">
    <div class="container">
        <div class="row">


                <div class="sidebar-widget clearfix biography">
                    <!-- Main Title 2 -->
                    <div class="main-title-2">
                        <h1><span>About our Service Providers</span></h1>
                    </div>
                    <p>
					Value-added services are additional benefits consumers can receive when they come to our platform.
					They are "add-ons" that can go a long way toward building good will if free, or can significantly increase revenue if offered for a discounted price to customers.
					Estate Merkez aims to provide high quality services that no one is providing <u>YET</u>.
                    </p>
                    <p>
					The Service Providers that are residing on our platform are:
                        </p>
						<ul>
						<li> Interior Designers</li>
						<li> Architecture Engineers</li>
						<li> Home Valuation Service Providers</li>
						</ul>

                    <br>

					<center>
                       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<center><h1>If you are a service provider? </h1></center
                        <ul>

							<br>

							<class="nav navbar-nav">

                        <a href="{% url 'myFYP:register' %}" class="sign-in"><i class="fa fa-user"></i> Join Our Platform Today</a>

                        </ul>

                    </div>
					</center>
                </div>
				</div>
				</div>
				</div>


 {% endblock %}
